server:
  port: 8085
spring:
  application:
    name: consul-client-zipkin
  zipkin:
    base-url: http://127.0.0.1:9411
  sleuth:
    sampler:
      probability: 1 #样本采集量，默认为0.1，为了测试这里修改为1，正式环境一般使用默认值
swagger:
  base-package: com.consul.consulclient.controller