server:
  port: 8082

spring:
  application:
    name: eureka-client

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8081/eureka,http://127.0.0.1:8084/eureka
    register-with-eureka: true
    fetch-registry: true #fetch-registry打开才能从eureka拉取服务列表，ribbon才能做负载均衡
